#
#    fty-common-messagebus - Provides message bus for agents
#
#    Copyright (C) 2014 - 2019 Eaton
#
#    This program is free software; you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation; either version 2 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License along
#    with this program; if not, write to the Free Software Foundation, Inc.,
#    51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

Source:         fty-common-messagebus
Section:        net
Priority:       optional
Maintainer:     fty-common-messagebus Developers <eatonipcopensource@eaton.com>
Standards-Version: 4.0.1.0
Build-Depends: debhelper (>= 9),
    pkg-config,
    libsodium-dev,
    libzmq3-dev,
    libczmq-dev (>= 3.0.2),
    libmlm-dev (>= 1.0.0),
    liblog4cplus-dev,
    libfty-common-logging-dev,
    asciidoc-base | asciidoc, xmlto,
    dh-autoreconf

Package: libfty-common-messagebus1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: fty-common-messagebus shared library
 This package contains shared library for fty-common-messagebus:
 provides message bus for agents

Package: libfty-common-messagebus-dev
Architecture: any
Section: libdevel
Depends:
    ${misc:Depends},
    libsodium-dev,
    libzmq3-dev,
    libczmq-dev (>= 3.0.2),
    libmlm-dev (>= 1.0.0),
    liblog4cplus-dev,
    libfty-common-logging-dev,
    libfty-common-messagebus1 (= ${binary:Version})
Description: fty-common-messagebus development tools
 This package contains development files for fty-common-messagebus:
 provides message bus for agents

Package: fty-common-messagebus
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
Description: runnable binaries from fty-common-messagebus
 Main package for fty-common-messagebus:
 provides message bus for agents

Package: fty-common-messagebus-dbg
Architecture: any
Section: debug
Priority: optional
Depends:
    fty-common-messagebus (= ${binary:Version}),
    ${misc:Depends}
Description: fty-common-messagebus debugging symbols
 This package contains the debugging symbols for fty-common-messagebus:
 provides message bus for agents.
